<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="puzzlePerson">
            <h2><span jhiTranslate="puzzlelibraryApp.puzzlePerson.detail.title">Puzzle Person</span> {{ puzzlePerson.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="puzzlelibraryApp.puzzlePerson.user">User</span></dt>
                <dd>
                    {{ puzzlePerson.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/puzzle-person', puzzlePerson.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
