<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-puzzle-item-heading" jhiTranslate="puzzlelibraryApp.puzzleItem.home.createOrEditLabel">Create or edit a Puzzle Item</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="puzzlelibraryApp.puzzleItem.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="puzzlelibraryApp.puzzleItem.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="puzzlelibraryApp.puzzleItem.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="PUZZLE">{{ 'puzzlelibraryApp.PuzzleType.PUZZLE' | translate }}</option>
                        <option value="GAME">{{ 'puzzlelibraryApp.PuzzleType.GAME' | translate }}</option>
                        <option value="OTHER">{{ 'puzzlelibraryApp.PuzzleType.OTHER' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="puzzlelibraryApp.puzzleItem.picture" for="field_picture">Picture</label>
                    <div>
                        <img [src]="'data:' + editForm.get('pictureContentType')!.value + ';base64,' + editForm.get('picture')!.value" style="max-height: 100px;" *ngIf="editForm.get('picture')!.value" alt="puzzleItem image"/>
                        <div *ngIf="editForm.get('picture')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('pictureContentType')!.value }}, {{ byteSize(editForm.get('picture')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('picture', 'pictureContentType', 'file_picture')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_picture" (change)="setFileData($event, 'picture', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="picture" id="field_picture"
                           formControlName="picture"/>
                    <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                           formControlName="pictureContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="puzzlelibraryApp.puzzleItem.puzzlePerson" for="field_puzzlePerson">Puzzle Person</label>
                    <select class="form-control" id="field_puzzlePerson" name="puzzlePerson" formControlName="puzzlePerson">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="puzzlePersonOption.id === editForm.get('puzzlePerson')!.value?.id ? editForm.get('puzzlePerson')!.value : puzzlePersonOption" *ngFor="let puzzlePersonOption of puzzlepeople; trackBy: trackById">{{ puzzlePersonOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
